<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="#home" class="w3-bar-item w3-button"><b>{{ 'navName1' | translate }}</b>{{'inf' | translate }}{{'navName2' | translate}}</a>
    <div class="w3-right w3-hide-small">
      <a href="#projects" class="w3-bar-item w3-button">{{ 'projects' | translate }}</a>
      <a href="#about" class="w3-bar-item w3-button">{{ 'about' | translate }}</a>
      <a href="#contact" class="w3-bar-item w3-button">{{ 'contact' | translate }}</a>
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1520px; height: 100vh;" id="home">
  <img class="w3-image" src="../../assets/main-banner-infinity-mirror.webp" alt="Main Banner">
  <div class="w3-display-middle">
    <h1 class="w3-xxlarge w3-text-white">
      <span class="w3-padding w3-black w3-opacity-min"><b>{{ 'navName1' | translate }}</b></span>
      <br>
      <span class="w3-text-light-grey">{{ 'inf' | translate }}</span>
      <br>
      <span class="w3-text-light-grey">{{ 'navName2' | translate }}</span>
    </h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->
  <div class="w3-container w3-padding-32" id="projects">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{ 'projects' | translate }}</h3>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom" *ngFor="let product of products">
      <div class="w3-display-container project-item" (click)="openDialog(product)">
        <div class="w3-display-topleft w3-black w3-padding">{{ product.title | translate }}</div>
        <img [src]="product.image" [alt]="product.title" class="project-img">
      </div>
    </div>
  </div>

  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">{{ 'about' | translate }}</h3>
    <p>{{ 'description' | translate }}</p>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-16" id="contact">
  <p><b>{{ 'contact' | translate }}</b> {{ 'us' | translate}}</p>
  <div class="social">
    <a href="https://www.facebook.com/" target="_blank"><i class='bx bxl-facebook'></i></a>
    <a href="https://www.instagram.com/" target="_blank"><i class='bx bxl-instagram'></i></a>
    <a href="https://www.youtube.com/" target="_blank"><i class='bx bxl-youtube'></i></a>
    <a href="https://web.whatsapp.com/" target="_blank"><i class='bx bxl-whatsapp'></i></a>
    <a href="https://t.me/" target="_blank"><i class='bx bxl-telegram'></i></a>
  </div>
  <div class="language-selector-footer">
    <a href="#" (click)="changeLanguage('en')" class="flag-link"><img src="../../assets/flags/en.png" alt="English" /></a>
    <a href="#" (click)="changeLanguage('ge')" class="flag-link"><img src="../../assets/flags/ge.png" alt="Georgian" /></a>
    <a href="#" (click)="changeLanguage('ru')" class="flag-link"><img src="../../assets/flags/ru.png" alt="Russian" /></a>
  </div>
</footer>
